<head>
    <title>Home</title>
</head>
<body>
		<p><center><b><I><font size = "7">Welcome to Eagle Financial Services</font></I><b></center></p>

		<center><img src="http://web.stevens.edu/publicity/Graphics/american%20eagle.JPG" width="800" height="600"></center>
          
</br>
<p><b><font size = "3">Please Choose From The Below Following Options:</font><b></p>

<font size = "3"><form name="link">

    <select name="menu">
        <option value="../eagle5/Home">Select an Option</option>
        <option value="../eagle5/customers">CUSTOMERS</option>
        <option value="../eagle5/investments">INVESTMENTS</option>
        <option value="../eagle5/stocks">STOCKS</option>
    </select>
    <input type="button" onClick="location=document.link.menu.options[document.link.menu.selectedIndex].value;" value="Go" style="width: 100px; height: 60px"><font>
</form>
<BR>
</body>
